<a href="https://colab.research.google.com/github/Songbotcbmovies/ict-assignment/blob/main/assignment01_ajil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1

In [ ]:
a=int(input("price of item 1:"))
b=int(input("quantity of item 1:"))
c=int(input("price of item 2:"))
d=int(input("quantity of item 2:"))
x=a*b+c*d
print(x)

price of item 1:45
quantity of item 1:3
price of item 2:30
quantity of item 2:2
195

question 2

In [ ]:
c=int(input("enter temp in celcius:"))
f=(c*9/5)+32
print(f

enter temp in celcius:30
86.0

question 3

In [ ]:
a=float(input("enter basic salary:"))
n=a+(0.20*a)+(0.10*a)
print("net salary:",n)

enter basic salary:20000
net salary: 26000.0

question 4

In [ ]:
p=float(input("principal amount:"))
r=float(input("rate of interest:"))
t=float(input("time:"))
si=(p*r*t)/100
print(si)

principal amount:10000
rate of interest:5
time:2
1000.0

question 5

In [ ]:
a=float(input("enter total minutes"))
h=a//60
m=a%60
print(h,m)

enter total minutes130
2.0 10.0

question 6

In [ ]:
a=float(input("enter the weight"))
h=float(input("enter the height"))
bmi=a/(h*h)
print(bmi)
#

enter the weight60
enter the height1.65
22.03856749311295

question 7

In [5]:
a=float(input("enter the orgial prize"))
d=float(input("enter the discount"))
n=a-(a*d)/100
print(n)
#

enter the orgial prize1200
enter the discount10
1080.0

question 8

In [1]:
a=float(input("enter side a"))
b=float(input("enter side b"))
c=float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)
#

enter side a5
enter side b6
enter side c7
14.696938456699069

question 9

In [22]:
a=float(input("enter wall length in meter"))
b=float(input("enter wall height in meter"))
t=(a*b)
w=2*(1.5*1.2)
p=t-w
print(d,"total area painted:",p)
c=p*25
print("total cost",c)
#

enter wall length in meter12
enter wall height in meter8
92.4 total area painted: 92.4
total cost 2310.0

question 10

In [17]:
a=float(input("enter number of units consumed"))
b=(a*5.2)+100
print(b)
#

enter number of units consumed250
1400.0